@font-face {
    font-family: 'Funnel';
    src: url('/styles/user/fonts/funnel-display/FunnelDisplay-SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UnifrakturCook';
    src: url('/styles/user/fonts/unifraktur/UnifrakturCook-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
} 

body {  
    --h1-font: "UnifrakturCook";
    --h1-color: #2be6ff;
    --h2-font: "Comic Sans MS";
    --h2-color: #2db7b5;
    --h3-font: "Funnel";
    --h3-color: #e04eed;
    --font-text-theme: Inter;
}
