  @font-face {
    font-family: 'Avara_Black';
    src:    url('/styles/user/fonts/Black/Avara-Black.eot');
    src:    url('/styles/user/fonts/Black/Avara-Black.eot?#iefix') format('embedded-opentype'),
            url('/styles/user/fonts/Black/Avara-Black.woff') format('woff'),
            url('/styles/user/fonts/Black/Avara-Black.woff2') format('woff2'),
            url('/styles/user/fonts/Black/Avara-Black.ttf') format('truetype'),
            url('/styles/user/fonts/Black/Avara-Black.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Funnel';
    src: url('/styles/user/fonts/funnel-display/FunnelDisplay-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UnifrakturCook';
    src: url('/styles/user/fonts/unifraktur/UnifrakturCook-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

body {
    --h1-font: "UnifrakturCook";
    --h1-color: #2be6ff;
    --h2-font: "Funnel";
    --h2-color: #2db7b5;
    --h3-font: "Avara_Bold";
    --h3-color: #e04eed;
    --font-text-theme: Inter;
}
