body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

  @font-face {
    font-family: 'Funnel';
    src: url('src/site/styles/user/fonts/funnel-display/FunnelDisplay-SemiBold.ttf') format('ttf');
    font-weight: semibold;
    font-style: normal;
  } 
  
    --h1-font: Funnel;
    --h2-font: "Comic Sans MS";
    --h2-color: #2db7b5;
    --font-text-theme: Montserrat;
}
